.btn{
    width: 23.5%;
    margin: 3px;
    font-size: 2.5rem;
    background-color: #3c6e71;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 0.5rem;
}

.btn:hover{
    background: #000;
    color: white;
    font-weight: 400px;
}