.main{
    width: 40%;
    height: 50%;
    position: absolute; /* Position the div absolutely */
  top: 50%; /* Set the top position to 50% of the container */
  left: 50%; /* Set the left position to 50% of the container */
  transform: translate(-50%, -50%); /* Use transform to adjust the position to the center */
}
